TAGS
*~
*.frame*.pp
*unner
*.lo
*.la
*.o
*.out
*.bak
*.deb
*.dsc
*.changes
*.tar.gz
.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
deb-copy-stamp
config.h
config.h.in
ltmain.sh
libtool
macros/argz.m4
macros/libtool.m4
macros/lt*.m4
Makefile
Makefile.in
site.exp
stamp-h1
