[submodule "Arduino-Temperature-Control-Library"]
	path = Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "OneWire"]
	path = OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
