Source: powerguru
Section: devel
Priority: optional
Maintainer: Rob Savoye <welcomehome.org>
Standards-Version: 2.5.0.0
Homepage: http://www.gnu.org/software/powerguru
Build-Depends: autoconf, automake, libtool,
	       postgresql,
	       ow-shell,
	       owfs,
	       python-ow,
	       libow-dev,
	       libboost-dev,
	       libownet-dev,
	       libxml2-dev,
	       libsnmp-dev,
	       libboost-filesystem-dev,
	       libboost-system-dev,
	       libboost-regex-dev,
	       libboost-log-dev,
	       libboost-thread-dev,
	       libboost-program-options-dev

#PI builds also need
#wiringpi

Package: powerguru
Architecture: all
Depends: dpkg (>=1.2.1)
Description: A monitoring and control program for power devices.
	Powerguru is an program for monitoring, data logging, and controlling
	your inverter, charger controller, or power meter. The current version
	has been refocused to be use for IOT workshops.

Package: pypowerguru
Architecture: any
Section: utils
Priority: extra
Description: Python version of this projects that mostly do the same thing as
	 as the C++ version.
